@using TaskAdmin.Web.Models.Accounts

@model RegisterVerifyModel

@{
    ViewData["Title"] = "Register Verification";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="RegisterVerify" asp-controller="Accounts" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="code">Verification Code</label>
        <input type="text" name="code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <button style="margin-top:10px" type="submit" class="btn btn-primary">Verify</button>
</form>
